/* Animations */

@keyframes player_movement1_2 {
	0% {transform: translate(0, 0);}
	100% {transform: translate(-93px, 0);}
}	
@keyframes player_movement2_3 {
	0% {transform: translate(-93px, 0);}
	100% {transform: translate(-163px, 0);}
}
@keyframes player_movement3_4 {
	0% {transform: translate(-163px, 0);}
	100% {transform: translate(-233px, 0);}
}
@keyframes player_movement4_5 {
	0% {transform: translate(-233px, 0);}
	100% {transform: translate(-303px, 0);}
}
@keyframes player_movement5_6 {
	0% {transform: translate(-303px, 0);}
	100% {transform: translate(-373px, 0);}
}
@keyframes player_movement6_7 {
	0% {transform: translate(-373px, 0);}
	100% {transform: translate(-443px, 0);}
}
@keyframes player_movement7_8 {
	0% {transform: translate(-443px, 0);}
	100% {transform: translate(-513px, 0);}
}
@keyframes player_movement8_9 {
	0% {transform: translate(-513px, 0);}
	100% {transform: translate(-583px, 0);}
}
@keyframes player_movement9_10 {
	0% {transform: translate(-583px, 0);}
	100% {transform: translate(-653px, 0);}
}
@keyframes player_movement10_11 {
	0% {transform: translate(-653px, 0);}
	100% {transform: translate(-766px, 0);}
}
@keyframes player_movement11_12 {
	0% {transform: translate(-766px, 0);}
	100% {transform: translate(-766px, -120px);}
}
@keyframes player_movement12_13 {
	0% {transform: translate(-766px, -120px);}
	100% {transform: translate(-766px, -190px);}
}
@keyframes player_movement13_14 {
	0% {transform: translate(-766px, -190px);}
	100% {transform: translate(-766px, -260px);}
}
@keyframes player_movement14_15 {
	0% {transform: translate(-766px, -260px);}
	100% {transform: translate(-766px, -330px);}
}
@keyframes player_movement15_16 {
	0% {transform: translate(-766px, -330px);}
	100% {transform: translate(-766px, -400px);}
}
@keyframes player_movement16_17 {
	0% {transform: translate(-766px, -400px);}
	100% {transform: translate(-766px, -470px);}
}
@keyframes player_movement17_18 {
	0% {transform: translate(-766px, -470px);}
	100% {transform: translate(-766px, -540px);}
}
@keyframes player_movement18_19 {
	0% {transform: translate(-766px, -540px);}
	100% {transform: translate(-766px, -610px);}
}
@keyframes player_movement19_20 {
	0% {transform: translate(-766px, -610px);}
	100% {transform: translate(-766px, -680px);}
}
@keyframes player_movement20_21 {
	0% {transform: translate(-766px, -680px);}
	100% {transform: translate(-766px, -790px);}
}
@keyframes player_movement21_22 {
	0% {transform: translate(-766px, -790px);}
	100% {transform: translate(-653px, -790px);}
}
@keyframes player_movement22_23 {
	0% {transform: translate(-653px, -790px);}
	100% {transform: translate(-583px, -790px);}
}
@keyframes player_movement23_24 {
	0% {transform: translate(-583px, -790px);}
	100% {transform: translate(-513px, -790px);}
}
@keyframes player_movement124_25 {
	0% {transform: translate(-513px, -790px);}
	100% {transform: translate(-443px, -790px);}
}
@keyframes player_movement25_26 {
	0% {transform: translate(-443px, -790px);}
	100% {transform: translate(-373px, -790px);}
}
@keyframes player_movement26_27 {
	0% {transform: translate(-373px, -790px);}
	100% {transform: translate(-303px, -790px);}
}
@keyframes player_movement27_28 {
	0% {transform: translate(-303px, -790px);}
	100% {transform: translate(-233px, -790px);}
}
@keyframes player_movement28_29 {
	0% {transform: translate(-233px, -790px);}
	100% {transform: translate(-163px, -790px);}
}
@keyframes player_movement29_30 {
	0% {transform: translate(-163px, -790px);}
	100% {transform: translate(-93px, -790px);}
}
@keyframes player_movement30_31 {
	0% {transform: translate(-93px, -790px);}
	100% {transform: translate(-0px, -790px);}
}
@keyframes player_movement31_32 {
	0% {transform: translate(0px, -790px);}
	100% {transform: translate(0px, -680px);}
}
@keyframes player_movement32_33 {
	0% {transform: translate(0px, -680px);}
	100% {transform: translate(0px, -610px);}
}
@keyframes player_movement33_34 {
	0% {transform: translate(0px, -610px);}
	100% {transform: translate(0px, -540px);}
}
@keyframes player_movement34_35 {
	0% {transform: translate(0px, -540px);}
	100% {transform: translate(0px, -470px);}
}
@keyframes player_movement35_36 {
	0% {transform: translate(0px, -470px);}
	100% {transform: translate(0px, -400px);}
}
@keyframes player_movement36_37 {
	0% {transform: translate(0px, -400px);}
	100% {transform: translate(0px, -330px);}
}
@keyframes player_movement37_38 {
	0% {transform: translate(0px, -330px);}
	100% {transform: translate(0px, -260px);}
}
@keyframes player_movement38_39 {
	0% {transform: translate(0px, -260px);}
	100% {transform: translate(0px, -190px);}
}
@keyframes player_movement39_40 {
	0% {transform: translate(0px, -190px);}
	100% {transform: translate(0px, -120px);}
}
@keyframes player_movement40_1 {
	0% {transform: translate(0px, -120px);}
	100% {transform: translate(0px, -0px);}
}
	

/* /Animations */