body {
	margin: 10px;
}

#settings {
	position: fixed;
	right: 0px;
	background: transparent;
	border: none;
}

#settings > span {
	background: url(cog.svg);
    width: 1.3rem;
    height: 1.3rem;
    display: block;
    opacity: 0.6;
    transition: all 0.2s ease-out;
    transition-property: opacity, transform;
	z-index: 110;
}

#settings > span:hover {
    opacity: 1;
    transform: rotate(45deg);
}

#settings_menu::backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 10;
}

#roll {
	visibility: hidden;
	/*
	left: 18rem;
    top: 15rem;
    position: relative;
	*/
}

#dice {
	font-size: 13vh;
	/*
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	*/
}

.board-block {
	background-color: #cce8cf;
	border: 1px solid black;
	position: relative;
}

.top-lane, .left-lane {
	transform: rotate(180deg);
}

.top-lane > .color-code, 
.bottom-lane > .color-code {
	height: 20%;
}

.left-lane > .color-code,
.right-lane > .color-code {
	height: 100%;
	width: 20%;
	display: inline-block;
}

.left-lane > .property-name,
.right-lane > .property-name {
	transform: rotate(-90deg);
	display: inline-block;
	width: 65px;
	text-align: center;
	word-wrap: break-word;
	position: absolute;
	height: 85%;
	top: 8%;
}

.top-lane > .property-name,
.bottom-lane > .property-name {
	text-align: center;
	padding-top: 10%;
	display: block;
	word-wrap: break-word;
	width: 85%;
	margin: 0 auto 0 auto;
}

.left-lane > .property-value,
.right-lane > .property-value {
	transform: translateY(-280%) translateX(74%) rotate(-90deg);
	display: inline-block;
	width: 70px;
	text-align: center;
	font-size: 0.6rem;
}

.top-lane > .property-value,
.bottom-lane > .property-value {
	text-align: center;
	display: block;
	font-size: 0.6rem;
	position: absolute;
	bottom: 2%;
	width: 100%;
}

.property-name {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 0.4vw;
	text-transform: uppercase;
}

.property-value {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 0.4vw;
	text-transform: uppercase;
}

.swal-footer {
    text-align: center;
}

.swal-button, .swal-button:active {
    background-color: green;
}