/* Players */

#player1 {
	background-image: url("hat.svg");
	height: 3rem;
	width: 3rem;
	background-size: contain;
	position: absolute;
	bottom: 10px;
	left: 34px;
	animation-name: player_movement;
	animation-duration: 10s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
	animation-play-state: paused;
}

/* /Players */